[submodule "snippets/vim-snipmate-snippets"]
	path = snippets/vim-snipmate-snippets
	url = https://github.com/GuillaumeFavelier/vim-snipmate-snippets
    ignore = dirty
[submodule "snippets/vim-snippets"]
	path = snippets/vim-snippets
	url = https://github.com/honza/vim-snippets
    ignore = dirty
