[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/regedarek/ZoomWin.git
    ignore = dirty
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
    ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
    ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
    ignore = dirty
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "bundle/c.vim"]
	path = ftbundle/C_CPP/c.vim
	url = https://github.com/vim-scripts/c.vim.git
    ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "bundle/OmniCppComplete"]
	path = ftbundle/C_CPP/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
    ignore = dirty
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
    ignore = dirty
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = ftbundle/C_CPP/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
    ignore = dirty
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
    ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
    ignore = dirty
[submodule "bundle/vim-closetag"]
	path = ftbundle/X_HTML/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
    ignore = dirty
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
    ignore = dirty
[submodule "bundle/vim-man"]
	path = ftbundle/C_CPP/vim-man
	url = https://github.com/idbrii/vim-man.git
    ignore = dirty
[submodule "bundle/DoxygenToolkit.vim"]
	path = ftbundle/C_CPP/DoxygenToolkit.vim
	url = https://github.com/mrtazz/DoxygenToolkit.vim.git
    ignore = dirty
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
    ignore = dirty
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
    ignore = dirty
[submodule "bundle/jedi-vim"]
	path = ftbundle/Python/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
    ignore = dirty
[submodule "bundle/flake8-vim"]
	path = ftbundle/Python/flake8-vim
	url = https://github.com/andviro/flake8-vim.git
    ignore = dirty
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
    ignore = dirty
[submodule "bundle/vim-snipmate-snippets"]
	path = bundle/vim-snipmate-snippets
	url = https://github.com/GuillaumeFavelier/vim-snipmate-snippets.git
    ignore = dirty
[submodule "bundle/vim-snipmate-myfork"]
	path = bundle/vim-snipmate-myfork
	url = https://github.com/CharlesGueunet/vim-snipmate.git
    ignore = dirty
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/vim-textobj-indent"]
	path = bundle/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim
