" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""""""""""
" Plugins
""""""""""""""""""""""""""""""""""""""

" Add Plugin
call dein#add('morhetz/gruvbox')

" Diable plugins
" Caution:
" Then name of the plugin is WITHOUT the repo.
" you need to restart vim, call :Update and restart Vim again
" due to cache mecanism of dein

" Exemple 1: remove relative + absolue line numbering
"call dein#disable('numbers.vim')

" Exemple 2: remove the plugin man on neovim
if has("nvim")
    call dein#disable('vim-man')
endif

"""""""""""""""""""""""""""""""""""""
" Leader key
""""""""""""""""""""""""""""""""""""""

" change leader to space
"let mapleader=" "

"""""""""""""""""""""""""""""""""""""
" Disable part of the default conf
" Uncomment what you need to disable
""""""""""""""""""""""""""""""""""""""

" default colors :
"let g:disable_defaultColors=1

 " highlight word under cursor
"let g:disable_highlightWordUnderCursor=1

" the right margin
"let g:disable_margin=1

""""""""""""""""""""""""""""""""""""
" Filetypes
""""""""""""""""""""""""""""""""""""

" VTK files are xml
autocmd BufRead,BufNewFile *.vti,*.vtu,*.vtp set filetype=xml

" plt files are gnuplot
autocmd BufRead,BufNewFile *.plt set filetype=gnuplot
