" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""
" Colorscheme and Theme
"""""""""""""""""""""""""""""

" Adapt some color to the new theme
autocmd VimEnter * highlight clear VertSplit
autocmd VimEnter * highlight clear SignColumn
autocmd VimEnter * highlight clear LineNr
" Use bakground of your term
autocmd VimEnter * highlight Normal ctermbg=NONE

" Colorscheme used
colorscheme gruvbox

""""""""""""""""""""""""""""""
" Plugins configuration
""""""""""""""""""""""""""""""

" Choose what you want for airline indentation check
"let g:airline#extensions#whitespace#checks = [ 'indent', 'trailing', 'long', 'mixed-indent-file' ]

""""""""""""""""""""""""""""""
" personal stuff
""""""""""""""""""""""""""""""

" Fix typo
inoremap fasle false

" Code facilities for qwerty
autocmd FileType c,cpp inoremap -. ->
autocmd FileType c,cpp inoremap  <, <<

""""""""""""""""""""""""
" Plugins configurartion
""""""""""""""""""""""""

" Use // comment for c/cpp in vim-commentary (instead of /* .. */)
autocmd FileType c,cpp setlocal commentstring=//\ %s

