" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""""""""""
" Plugins
""""""""""""""""""""""""""""""""""""""

" Diable plugins

" Exemple : remove the plugin man on neovim
if has("nvim")
    call dein#disable('idbrii/vim-man')
endif

"""""""""""""""""""""""""""""""""""""
" Leader key
""""""""""""""""""""""""""""""""""""""

" change leader to space
"let mapleader=" "

"""""""""""""""""""""""""""""""""""""
" Disable part of the default conf
" Uncomment what you need to disable
""""""""""""""""""""""""""""""""""""""
" After the first launch only : if want to prevent vim to check install
"let g:disable_check_install=1

" default colors :
"let g:disable_defaultColors=1

 " highlight word under cursor
"let g:disable_highlightWordUnderCursor=1

" the right margin
"let g:disable_margin=1

""""""""""""""""""""""""""""""""""""
" Filetypes
""""""""""""""""""""""""""""""""""""

" VTK files are xml
autocmd BufRead,BufNewFile *.vti,*.vtu,*.vtp set filetype=xml
