" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""""""""""
" Leader key
""""""""""""""""""""""""""""""""""""""

"" change leader to space
" let mapleader=" "

"""""""""""""""""""""""""""""""""""""
" Disable/Enable part of the default conf
" Uncomment what you need to disable
""""""""""""""""""""""""""""""""""""""

"" continuous completion
"" may slow down vim on large project
" let g:Vimmic_AlwaysComplete=1

"" hide help on plugins
" let g:Vimmic_HideHelp=1

"" default colors :
" let g:Vimmic_DisableDefaultColors=1

"" highlight word under cursor
" let g:Vimmic_NoHiCurWrod=1

"" the right margin
" let g:Vimmic_DisableMargin=1
" let g:Vimmic_MarginPos="120"
" let g:Vimmic_MarginBG="Black"

" colors

"" Terminal colors example
" let g:DefaultBG='233'
" let g:StatusBG="White"
" let g:StatusLeftBG="233"
" if $USER ==# 'root'
"    let g:StatusLeftBG='1'
" else
"    let g:StatusLeftBG='4'
" endif
" let g:StatusNCBG='233'
" let g:StatusNCFG='White'
"" Modes colors
" let g:StatusNormalFG='0'
" let g:StatusInsertFG='Blue'
" let g:StatusReplaceFG='Red'

"" True colors example
" set termguicolors
" let g:DefaultBG='#263238'
" let g:StatusNormalFG='#fafafa'
" let g:StatusInsertFG='#2196f3'
" let g:StatusReplaceFG='#f44336'
" let g:StatusBG='#162228'
" let g:StatusNCBG='#263238'
" if $USER ==# 'root'
"    let g:StatusLeftBG='#dd7186'
" else
"    let g:StatusLeftBG='#2196f3'
" endif
" let g:StatusLeftFG='Black'

""""""""""""""""""""""""""""""""""""
" Feature
""""""""""""""""""""""""""""""""""""

" all .swp in a folder
" you need to create this folder
 set directory=$HOME/.cache/vimtmp//

if !has('nvim')
   packadd matchit
endif
" Configures in the config/plugins folder
packadd termdebug

""""""""""""""""""""""""""""""""""""
" Filetypes
""""""""""""""""""""""""""""""""""""

" VTK files are xml
autocmd BufRead,BufNewFile *.vti,*.vtu,*.vtp set filetype=xml

" plt files are gnuplot
autocmd BufRead,BufNewFile *.plt set filetype=gnuplot

