" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""
" Colorscheme and Theme
"""""""""""""""""""""""""""""

" Adapt some color to the new theme
augroup highlight_clear_enter
    autocmd VimEnter * highlight clear VertSplit
    autocmd VimEnter * highlight clear SignColumn
    autocmd VimEnter * highlight clear LineNr
    " Use bakground of your term
    autocmd VimEnter * highlight Normal ctermbg=NONE
augroup END

" Colorscheme used
colorscheme gruvbox

" Colorscheme for true colors
" set background=dark
" set termguicolors
" colorscheme quantum
" if !has("nvim")
"    set term=xterm-256color
" endif
" let g:airline_theme='quantum'

""""""""""""""""""""""""""""""""""""
" Feature
""""""""""""""""""""""""""""""""""""

" all .swp in a folder
" you need to create this folder
" The trailing // allows to use the complete path of the
" saved file to ensure uniqueness
" execute 'set directory='.g:Vimmic_BASE.'/.swapfiles//'
" or
" set directory=$HOME/.cache/vimtmp//

""""""""""""""""""""""""""""""
" personal stuff
""""""""""""""""""""""""""""""

" Fix typo
inoremap fasle false

" Code facilities for qwerty
augroup cpp_replace
    autocmd FileType c,cpp inoremap -. ->
    autocmd FileType c,cpp inoremap  <, <<
augroup END

" Get rid of command window
" map q: :q

" augroup latex_spell
"     autocmd FileType tex set spell spelllang=en
" augroup END

""""""""""""""""""""""""""""""
" Plugins configuration
""""""""""""""""""""""""""""""

" Asynchronous linter triggers:
" let g:ale_lint_on_text_changed = 0
" let g:ale_lint_on_enter = 0
" let g:ale_lint_on_save = 0

""""""""""""""""""""""""""""""
" Filetype custom
""""""""""""""""""""""""""""""

" Prevent vim to scan the whole boost library for completion
" autocmd FileType c,cpp set include=^\\s*#\\s*include\ \\(<boost/\\)\\@!
