" color fix
"autocmd VimEnter,ColorScheme * highlight SignColumn ctermbg=233
" autocmd VimEnter,ColorScheme * highlight IncSearch ctermfg=DarkRed ctermbg=NONE cterm=bold
"autocmd VimEnter,ColorScheme * highlight Search ctermfg=Yellow ctermbg=NONE cterm=bold
"autocmd VimEnter,ColorScheme * highlight clear VertSplit
"autocmd VimEnter,ColorScheme * highlight clear SignColumn
"autocmd VimEnter,ColorScheme * highlight clear LineNr
"autocmd VimEnter,ColorScheme * highlight Visual ctermbg=234 ctermfg=gray cterm=bold

" set background=dark
" colorscheme quantum
" if !has('nvim')
"    set term=xterm-256color
" endif

" avoid completion on these files
" set wildignore+=*/build/*,*/buildD/*,*/buildR/*
"
" Avoid boost completion (too long)
" autocmd FileType c,cpp set include=^\\s*#\\s*include\ \\(<boost/\\)\\@!

" Undo tree
"autocmd VimEnter,ColorScheme * highlight UndotreeBranch ctermfg=blue
"autocmd VimEnter,ColorScheme * highlight UndotreeCurrent ctermfg=yellow
"autocmd VimEnter,ColorScheme * highlight UndotreeFirstNode ctermfg=blue

" Add custom

" nmap XX :q!<cr>

" inoremap fasle false

" au FileType c,cpp inoremap -, ->

" spell for  latex
" autocmd FileType tex set spell spelllang=en

" no terminal in bufer (not for nvim)
" augroup termIgnore
"     autocmd!
"     autocmd TerminalOpen * set nobuflisted
" augroup END

" in insert mode, j + direction for action
" imap jh <Backspace>
" imap jj <Esc>o
" imap jk <Esc>O
" imap jl <Esc>
" imap j; <Esc>gi$;i


"""""""""""""""""" GitGutter

" let g:gitgutter_sign_added              = '│'
" let g:gitgutter_sign_modified           = '│'
" let g:gitgutter_sign_removed            = '│'
" let g:gitgutter_sign_removed_first_line = '.'
" let g:gitgutter_sign_modified_removed   = '├'

