" This file is given as a sample file.
" You might copy it but avoid symbolic link.

"""""""""""""""""""""""""""""""""""""
" Leader key
""""""""""""""""""""""""""""""""""""""

" change leader to space
"let mapleader=" "

"""""""""""""""""""""""""""""""""""""
" Disable part of the default conf
" Uncomment what you need to disable
""""""""""""""""""""""""""""""""""""""

" default colors :
" let g:disable_defaultColors=1

 " highlight word under cursor
" let g:disable_highlightWordUnderCursor=1

" the right margin
" let g:disable_margin=1
" let g:MarginPos="120"
" let g:MarginBG="Black"

" Statusbar colors

" let g:StatusBG="White"
" let g:StatusLeftBG="233"
" let g:StatusNCBG="233"
" let g:StatusNCFG="White"
" Modes colors
" let g:StatusNormalFG="0"
" let g:StatusInsertFG="Blue"
" let g:StatusReplaceFG="Red"
" True colors example
" let g:StatusNormalFG="#fafafa"
" let g:StatusInsertFG="#2196f3"
" let g:StatusReplaceFG="#f44336"
" autocmd VimEnter * highlight StatusLineLeft guibg=#2196f3 guifg=Black
" autocmd VimEnter * highlight StatusLine guibg=#263238
" autocmd VimEnter * highlight StatusLineNC guifg=#162228

""""""""""""""""""""""""""""""""""""
" Filetypes
""""""""""""""""""""""""""""""""""""

" VTK files are xml
autocmd BufRead,BufNewFile *.vti,*.vtu,*.vtp set filetype=xml

" plt files are gnuplot
autocmd BufRead,BufNewFile *.plt set filetype=gnuplot
