" This file is given as a sample file.
" You might copy it but avoid symbolic link.


"""""""""""""""""""""""""""""""""""""
" Leader key
""""""""""""""""""""""""""""""""""""""

" change leader to space
" let mapleader=' '

"""""""""""""""""""""""""""""""""""""
" Disable part of the default conf
" Uncomment what you need to disable
""""""""""""""""""""""""""""""""""""""

" continuous completion
" let g:Vimmic_AlwaysComplete=1

" hide help on plugins
" let g:Vimmic_HideHelp=1

" default colors :
" let g:Vimmic_DisableDefaultColors=1

" highlight word under cursor
" let g:Vimmic_NoHiCurWrod=1

" the right margin
" let g:Vimmic_DisableMargin=1
" let g:Vimmic_MarginPos="120"
" let g:Vimmic_MarginBG="Black"

" For CMake projects:
" let g:Vimmic_BUILD_DIR = './build/'

" Statusbar colors

" let g:StatusBG="White"
" let g:StatusLeftBG="233"
" let g:StatusNCBG="233"
" let g:StatusNCFG="White"
"" Modes colors
" let g:StatusNormalFG="0"
" let g:StatusInsertFG="Blue"
" let g:StatusReplaceFG="Red"
" True colors example
" set termguicolors
" let g:Vimmic_DefaultBG='#263238'
" let g:Vimmic_StatusNormalFG='#fafafa'
" let g:Vimmic_StatusInsertFG='#2196f3'
" let g:Vimmic_StatusReplaceFG='#f44336'
" let g:Vimmic_StatusBG='#162228'
" let g:Vimmic_StatusNCBG='#263238'
" let g:Vimmic_StatusLeftBG='#2196f3'
" let g:Vimmic_StatusLeftFG='Black'

""""""""""""""""""""""""""""""""""""
" Feature
""""""""""""""""""""""""""""""""""""

" all .swp in a folder
" you need to create this folder
" set directory=$HOME/.cache/vimtmp//

" set incsearch

" packadd termdebug
" packadd matchit

" set tabstop=2
" set shiftwidth=2

""""""""""""""""""""""""""""""""""""
" Filetypes
""""""""""""""""""""""""""""""""""""

" VTK files are xml
" autocmd BufRead,BufNewFile *.vti,*.vtu,*.vtp set filetype=xml

" Paraview state files are xml
" autocmd BufRead,BufNewFile *.pvsm set filetype=xml
